<!--Manuel Flores Llorente - 70248881G-->
<!--Víctor Julio Sánchez Pollo - 04228045R-->

<h2> Sobre nosotros </h2>

<div id="presentacion">
	<p> Somos Manuel y Víctor Julio, alumnos de la asignatura Software de Comunicaciones y autores de este blog. </p>
</div>

<div id ="video"> <h4>Presentación</h4>
                    <video 
                        controls 
                        >
                    <source src="videos/SWCM.m4v" type=video/mp4>   
                    <source src="videos/SWCM.webm" type=video/webm>
                    <source src="videos/SWCM.ogv" type=video/ogg> </video>
                </div>
				
<div id="autor">
	<h4> Manuel Flores Llorente </h4>
	<div id="info"> Nacido en Segovia, en 1991. Comenzó mi afición por los ordenadores allá por el 1995, utilizando el viejo 80286 de mi padre.
              Desde ese momento, dicha afición ha ido creciendo y desarrollándose junto con mi persona, pasando por diferentes etapas (juegos, 
              sistemas operativos diferentes (linux, mac), hacking básico, programación, redes inalámbricas, edición de memoria en tiempo real, y ahora diseño web). 
              <p>Esto acabó llevándome, tras terminar el bachillerato de Ciencias e Ingeniería, a la Escuela Técnica Superior de Ingenieros de 
              Telecomunicación de la UPM, donde continúo con mis estudios de Ingeniero de Telecomunicación.
              <p>Contacto: <a href="mailto:manuel.flores.llorente@alumnos.upm.es">manuel.flores.llorente@...</a></div>
</div>

<div id="autor">
	<h4> Víctor Julio Sánchez Pollo </h4>
	<div id="info"> Nací en Ávila en 1990 y con 2 años me trasladé a Santa Olalla (Toledo). Mis primeros contactos con las telecomunicaciones y la informática fueron a través de una emisora de
			  radioaficionado y de un Amstrad PCW 8256, con unos juegos programados en Basic, que había en mi casa. Durante la infancia desarrollo una gran inquietud
			  por la ciencia y la tecnología, centrándose mi interés en los diversos sistemas de dispositivos móviles, videoconsolas y ordenadores con los que he
			  crecido. Influenciado por esto, en 2008 inicio la carrera de Ingeniería de Telecomunicación en la Universidad Politécnica de Madrid. Desde entonces
			  he reforzado y adquirido nuevos conocimientos sobre diversas materias: programación de sistemas, aplicaciones móviles, robótica ...
			  <p> Actualmente, mi interés y perspectiva de futuro se centran en la nanotecnología y bioingeniería y su aplicación en el ser humano.
			  <p>Contacto: <a href="mailto:vj.sanchezp@gmail.com">vj.sanchezp@gmail.com</a></div>
</div>
